[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pyee = "*"
asgiref = "*"
python-socketio = "*"
requests = "*"
uvicorn = "*"
websockets = "*"
django-channels = "*"
django = "*"
graphene-django = "*"
channels = "*"
channels-redis = "*"
django-dotenv = "*"
pillow = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9.4"
